<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
  <title>Astro-Paranoid</title>
</head>
<body>
  <header>
    <%- include('../layout/header')%>
  </header>
  <h2>About the Devs</h4>
  <main id="about-wrapper">
    <div class="left-dev">
      <img src="/images/jag-pic.jpg">
      <h4>Jag Singh</h4>
      <p>E un fapt bine stabilit că cititorul va fi sustras de conţinutul citibil al unei pagini atunci când se uită la aşezarea în pagină. Scopul utilizării a Lorem Ipsum, este acela că are o distribuţie </p>
    </div>

    <div class="right-dev">
      <img src="/images/aliya-pic.jpg">
      <h4>Aliya Summers</h4>
      <p>E un fapt bine stabilit că cititorul va fi sustras de conţinutul citibil al unei pagini atunci când se uită la aşezarea în pagină. Scopul utilizării a Lorem Ipsum, este acela că are o distribuţie </p>
    </div>

    <div class="left-dev">
      <img src="/images/bonnie-pic.jpg">
      <h4>Bonnie Wang</h4>
      <p>E un fapt bine stabilit că cititorul va fi sustras de conţinutul citibil al unei pagini atunci când se uită la aşezarea în pagină. Scopul utilizării a Lorem Ipsum, este acela că are o distribuţie </p>
    </div>

    <div class="right-dev">
      <img src="/images/jess-pic.jpg">
      <h4>Jess Zuchowski</h4>
      <p>E un fapt bine stabilit că cititorul va fi sustras de conţinutul citibil al unei pagini atunci când se uită la aşezarea în pagină. Scopul utilizării a Lorem Ipsum, este acela că are o distribuţie </p>
    </div>
  </main>


  <footer>
    <%- include('../layout/footer')%>
  </footer>
</body>
</html>