<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
  <title>Astro-Paranoid</title>
</head>
<body>
  <header>
    <%- include('../layout/header')%>
  </header>
  <h3>Meet the Developers</h3>
  <main id="about-wrapper">
    <div class="left-dev">
      <img src="/images/jag-pic.jpeg">
      <div class="info-container">
      <h4>Jagdeep Singh</h4>
      <p>Astrophysist turned Software Developer</p>
      <br>
      <p>fanatic for all things space related</p>
      <br>
      <a href="https://github.com/JagdeepSing">Github</a>
      </div>
    </div>

    <div class="right-dev">
      <img src="/images/aliya-pic.jpg">
      <div class="info-container">
      <h4>Aliya Summers</h4>
      <p>E un fapt bine stabilit că cititorul va fi sustras de conţinutul citibil al unei pagini atunci când se uită la aşezarea în pagină. Scopul utilizării a Lorem Ipsum, este acela că are o distribuţie </p>
      </div>
    </div>

    <div class="left-dev">
      <img src="/images/bonnie-pic.jpg">
      <div class="info-container">
      <h4>Bonnie Wang</h4>
      <p>Javascipt Developer and Musican</p>
      <br>
      <p>Either typing on computer keys or playing on piano keys.</p>
      <br>
      <a href="https://github.com/jcwang118">Github</a>
      </div>  
    </div>

    <div class="right-dev">
      <img src="/images/jess_circle.jpg">
      <div class="info-container">
      <h4>Jess Zuchowski</h4>
      <p>Full-stack software dev, Epic EMR super user, insect collector.</p>
      </div>
    </div>
  </main>


  <footer>
    <%- include('../layout/footer')%>
  </footer>
</body>
</html>