<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
  <title>Astro-Paranoid</title>
</head>
<body>
  <header>
    <%- include('../layout/header')%>
  </header>
  <h2>About the Devs</h4>
  <main id="about-wrapper">
    <div class="left-dev">
      <img>
      <p></p>
    </div>
    <div class="right-dev">
      <img>
      <p></p>
    </div>
    <div class="left-dev">
      <img>
      <p></p>
    </div>
    <div class="right-dev">
      <img>
      <p></p>
    </div>
  </main>


  <footer>
    <%- include('../layout/footer')%>
  </footer>
</body>
</html>