<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
</head>
<body>
  <%- include('../layout/header') %>
  <h1>Sorry, an asteroid hit this route and it no longer exists.</h1>
</body>
</html>