<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
</head>
<body>
  <%- include('../layout/header') %>
  <%- include('../layout/nav-bar') %>
  <img src="/images/dead.png" id="error-asteroid">
  <h1 id="error-message">Sorry, an asteroid hit this route and it no longer exists.</h1>
</body>
</html>