<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head')%>
</head>
<body>
  <header>
    <%- include('../layout/header') %>
  </header>
  <%- include('../layout/nav-bar') %>
  <div id="mission-statement">
    <h1>Our Mission:</h1>
    <p>We created this application with the intent to inform the public about potential threats of asteroids near Earth. Realizing the intimidating scope of space, we hope to reach out to an audience of all ages to convey a serious message through a light-hearted approach.</p>
  </div>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script> 
  <script src="../../js/app.js"></script>
  <script async defer src="<%= `https://maps.googleapis.com/maps/api/js?key=${process.env.GOOGLE_MAPS_API}&callback=initMap` %>"></script>

</body>
</html>