<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
  <title>Astro-Paranoid</title>
</head>
<body>
  <header>
    <%- include('../layout/header')%>
  </header>
  <p>Hello</p>

  <main id="content-wrapper">
      
      
        <div id="map" style="height: 425px"></div>
        <script src="./js/app.js"></script>
        <script async defer src="<%= `https://maps.googleapis.com/maps/api/js?key=${process.env.GOOGLE_MAPS_API}&callback=initMap` %>"></script>
          
           
      </article>
    
  </main>

  <footer>
    <%- include('../layout/footer')%>
  </footer>
</body>
</html>

