footer{
  position:fixed;
  bottom:0;
  right:0;
  left:0;
  background-color:rgba(31, 29, 29, 0.74);
}

.fixed-nav > ul{
  display:flex;
  justify-content: space-evenly;
}

header{
  display:flex;
  justify-content:center;
  align-items: center;
}