.nav-item{
  display:inline-block;
  padding:15px;
}

#app-title:hover, #app-title:active{
  transform: scale(1.08);
}

.logo{
  width:10vw;
  min-width: 80px;
  max-width:120px;
  max-height:120px;
  padding-right:1vw;
  margin-top:10px;
  float:left;
}

.nav-item-button {
  background: none;
  border: none;
  color: white;
}

.nav-item:hover, .nav-item:active {
  transform:scale(1.35);
}

.asteroid-image:hover {
  transform: scale(1.05);
  filter: brightness(0.5) sepia(1) saturate(10000%);
}

.name-size {
  margin: 10px 0 30px 0;
}

.asteroid-image {
  margin: 20px 0;
}

.asteroid-container {
  width: 90%;
  margin: 50px auto;
}