.nav-item{
  display:inline-block;
  padding:15px;
}

.app-title{
}

.nav-item:hover, .nav-item:active{
  transform:scale(1.35);
  color:rgb(56, 175, 72);
}

header:hover, header:active{
  transform: scale(1.08);
}

.logo{
  width:10vw;
  min-width: 80px;
  max-width:120px;
  max-height:120px;
  padding-right:1vw;
  margin-top:10px;
  float:left;
}

