.nav-item{
  display:inline-block;
  padding:15px;
}

#app-title:hover, #app-title:active{
  transform: scale(1.08);
}

.logo{
  width:10vw;
  min-width: 80px;
  max-width:120px;
  max-height:120px;
  margin-top:10px;
  float:left;
}

.nav-item-button {
  background: none;
  border: none;
  color: white;
}

.nav-item:hover, .nav-item:active {
  transform:scale(1.35);
}

.asteroid-image:hover {
  transform: scale(1.05);
  filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(180deg);
}

.name-size {
  margin: 10px 0 30px 0;
}

.name-size>h6,h4{
  margin-bottom:10px;
}

.asteroid-image, .astronaut-image {
  margin: 20px 0;
  max-width: 95%;
  /* height: 200px; */
}



































































.asteroid-link {
  text-decoration: none;
}

.asteroid-container {
  width: 90%;
  max-width: 500px;
  padding: 20px 40px;
  margin: 50px auto;
}

#date{
  padding-top:40px;
  font-size: 15pt;
}

#map {
  width: 80%;
  border-radius: 1em;
}

/*styles for about page*/
#about-wrapper div {
  max-height: 125px;

}



.info-container p {
  overflow: hidden;
  padding-top: 1%;
  font-size: 0.7em;
}

.info-container h4 {
  padding-bottom: 1%;
}

#about-wrapper div img{
 max-width: 100%;
 max-height: auto;
 min-width: 100px;
}


@media only screen and (min-width: 600px){

.info-container p {
  font-size: 1em;
}

#about-wrapper div img{
  border: 1px black solid;
  border-radius: 50px;
  min-width: 100px;
}

}

#astronaut-scale-image, #asteroid-scale-image {
  transition:5s;
  height:150px;
}

#images-container {
  min-width: 375px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

#images-container > div {
  margin: 50px;
}

#location-wrapper {
  /* min-height: 50vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#location-wrapper > * {
  margin-bottom: 5vh;
}







#asteroid-stats{
  padding-bottom: 100px;
}

#asteroid-table {
  border-collapse: separate;
  border-radius: 15px;
}

 tr, td{
  border: 1px white solid;
  border-collapse: separate;
  border-radius: 15px;
}

td{
  padding: 5px;
  text-align: left;
}




































































