<!-- <nav class="fixed-nav">
  <ul>
    <li class="nav-item">
      <a class="nav-item-link" href="/">
        <i class="fas fa-home fa-2x"></i>
      </a>
    </li>
    <li class="nav-item" >
      <a class="nav-item-link" href="/about">
        <i class="fas fa-users fa-2x"></i>
      </a>
    </li>
  </ul>
</nav> -->