<nav class="fixed-nav">
  <ul>
    <li class="nav-item">
      <button class="nav-item-button">
        <i class="fas fa-home fa-2x"></i>
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-item-button">
        <i class="fas fa-map-marker-alt fa-2x"></i>
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-item-button">
        <i class="fas fa-address-card fa-2x"></i>
      </button>
    </li>
  </ul>
</nav>