
<a href="/">
  <div id="app-title">
    <div>
      <img src="/images/logo.png" class="logo">
    </div>
    <h1>
      Astro-Paranoid
    </h1>
  </div>
</a>

<video id="background-video" playsinline autoplay muted loop src="/images/stars-video.mp4"></video>