<nav class="fixed-nav">
  <ul>
    <li class="nav-item">
      <a class="nav-item-link" href="/">
        <i class="nav-icon fas fa-home fa-2x"></i>
        <span class="nav-text">Home</span>
      </a>
    </li>
    <li class="nav-item" >
        <a class="nav-item-link" href="/all">
          <i class="nav-icon fas fa-star-of-life fa-2x"></i>
          <span class="nav-text">All</span>
        </a>
      </li>
      <li class="nav-item" >
          <a class="nav-item-link" href="/liked">
            <i class="nav-icon fas fa-heart fa-2x"></i>
            <span class="nav-text">Liked</span>
          </a>
        </li>
    <li class="nav-item" >
      <a class="nav-item-link" href="/about">
        <i class="nav-icon fas fa-users fa-2x">
        </i>
        <span class="nav-text">About Us</span>
      </a>
    </li>
    <li class="nav-item" >
      <a class="nav-item-link" href="/info">
        <i class="nav-icon fas fa-book fa-2x"></i>
        <span class="nav-text">Mission</span>
      </a>
    </li>
  </ul>
</nav>